@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");


/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

button {
  outline: none;
}

html {
  scroll-behavior: smooth;
  font-size: calc(60% + 0.8vmin) !important;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-body);
}

/* Global Styles */
:root {
  --font-h1: 34px;
  --font-h2: 32px;
  --font-h3: 24px;
  --font-p: 18px;
  --text-title-light: rgba(15, 137, 174);
  --text-body: rgb(96, 96, 96);
  --border-blue: rgb(30, 92, 136);
  --bg-yellow: rgba(255, 175, 0);
  --bg-section: rgb(247, 248, 250);
}

#logo{
  padding: 20px;
  text-align: center;
  position: relative;
}

main{
  overflow: hidden;
}

header#logo:after{
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  content: "";
  height: 10px;
  background: url(../img/tarja.svg) center center no-repeat;
  background-size: cover;
}


main{
  background: url(../img/banner-principal.jpg) center center no-repeat;
  background-size: cover;
  min-height: calc(100vh - 109px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 30px;
  text-align: center;
  color:white;
}

main h1{
  font-size: 40px;
  line-height: 50px;
  font-family: "Open Sans";
  font-weight: bold;
  color: #4FD6FF;
}

main p{
  font-size: 18px;
  line-height: 24px;
}

main p:not(:last-child){
  font-family: "Open Sans";
  line-height: 24px;
  margin: 30px 0px;
}

main a.btn-tk{
  background: #E1BF6B;
  color: #6B5CB5;
  text-decoration: none;
  font-size: 18px;
  line-height: 100%;
  display: block;
  margin: 20px auto 0px auto;
  max-width: 350px;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3 ease all;
}

.social-midia{
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 30px;
}

main a:hover{
  opacity: 0.8;
}

@media (max-width: 768px){
  main{
    padding: 100px 30px;
  }
  
  main h1{
    font-size: 28px;
    line-height: 32px;
    font-family: "Open Sans";
    font-weight: bold;
  }

}



@media (max-width: 1100px){
  main br{
    display: none;
  }
}